.container {
    view-timeline-name: --offering__scrollcontainer;
    view-timeline-axis: block;
}

@keyframes progress {
    0% {
        width: calc(0%);
        /* left: calc(0% - 12px); */
    }

    25% {
        width: calc(25%);
        /* left: calc(25% - 12px); */
    }

    75% {
        width: calc(75%);
        /* left: calc(75% - 12px); */
    }

    100% {
        width: calc(100%);
        /* left: calc(100% - 12px); */
    }
}

.progress_indicator {
    animation: progress linear forwards;
    animation-timeline: --offering__scrollcontainer;
    animation-range: contain 0 contain 100%;
}

@keyframes animate-in-and-out {
    0% {
        opacity: 0;
        transform: translateY(15%);
    }

    20% {
        opacity: 1;
        transform: translateY(0);
    }

    80% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-15%);
    }
}

.item {
    transform: translateY(100%);
    animation: linear animate-in-and-out;
    animation-timeline: --offering__scrollcontainer;
}

.box_one {
    animation-range: cover 10% contain 33%;
}

.box_two {
    animation-range: contain 33% contain 66%;
}

.box_three {
    animation-range: contain 66% contain 110%;
}